# ========================================
# HTTP Server configuration
# ========================================

FASTIFY_PORT = 3000

# ========================================
# ORM Configuration
# ========================================

# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://<user>:<password>@<ip>:<port>/<database>"